<main>
        <nav class="navbar navbar-expand-sm">
                <a class="logo" href='/'><img src="/images/smolltalk.png" width="150"></a>
                {{> topic-heading }}
                <div class="links navbar-nav navbar-right ml-auto">
                <a class="home" href="/home"><strong>Home</strong></a>
                <a class="logout" href="/" id="logoutBtn"><strong>Logout</strong></a>
                </div>
        </nav>

    {{> messages conversation.messages}}

</main>
<div class="footer-container"></div>
    
    <footer class="footer navbar-expand-sm">
        <div class="message-box">
            <input class="message-txt" type="text" name="" placeholder="Message">
            <a class="message-btn" href="#">
                <i class="far fa-envelope"></i>
            </a>
        </div>
        <div class="last"><span >SmollTalk 2020 &#169;</span></div>
    </footer>
</div>