 <!-- Dashboard Navbar -->
    <div class="navbar-container">
        <nav class="navbar navbar-expand-sm bg-light">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link-logout" href="#"> 
                                  Logout 
                                </a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Message Cards -->
    <div class="message-container">
        <!-- Message 1 -->
        <div class="individual-message">
            <div class="card mx-auto" style="width: 18rem;">
                <div class="card-header">
                    username-placeholder
                </div>
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>

        <!-- Message 2 -->
        <div class="individual-message">
            <div class="card mx-auto" style="width: 18rem;">
                <div class="card-header">
                    username-placeholder
                </div>
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        <!-- End of message 2-->

        <!-- Message 3 -->
        <div class="individual-message">
            <div class="card mx-auto" style="width: 18rem;">
                <div class="card-header">
                    username-placeholder
                </div>
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        <!-- End of message 3-->
    </div>

    <div class="footer-container">
        <footer class="footer navbar-expand-sm bg-light">
            <div class="message-box">
                <input class="message-txt" type="text" name="" placeholder="Message">
                <a class="message-btn" href="#">
                    <i class="far fa-envelope"></i>
                </a>
            </div>
        </footer>
    </div>