
<main>
        <nav class="navbar navbar-expand-sm">
                <a href='/'><img src="/images/smolltalk.png" width="150"></a>
                <div class="navbar-nav ml-auto">
                <a id="logoutBtn" class="nav-link-logout" href="#">Logout</a>
                </div>
        </nav>
<!-- Homepage content -->
    <section class="hero-topics">
        <div>
            <h3>Welcome to SmollTalk!</h3>
            <p>This is a place where you can find your own virtual community.<br>
            Click on a topic below to start a conversation:</p>
            <button type="button" class="btn politics-btn">
                    POLITICS
                    </button>
            <button type="button" class="btn covid-btn">
                    COVID
                    </button>
            <button type="button" class="btn sports-btn">
                    SPORTS
                    </button>
            <button type="button" class="btn finances-btn">
                    FINANCES
                    </button>
            <button type="button" class="btn crpycraigslist-btn">
                    CREEPY CRAIGSLIST
                    </button>
        </div>
    </section>
</main>
        <footer class="footer navbar-expand-sm">
                <div class="last"><span >SmollTalk 2020 &#169;</span></div>
        </footer>