
    
    <!-- Homepage content -->
    <section class="hero">
        <div class="hero-content">
            <div class="title-container">
                <h1 class="hero-title-smoll">Smoll<span class="hero-title-talk">Talk</span></h1>
            </div>
            <button type="button" id="loginBtn" class="btn btn-light btn-lg hero-button" data-toggle="modal" data-target="#loginModal">
                    Login
                    </button>
            <button type="button" id="signupBtn" class="btn btn-light btn-lg hero-button" data-toggle="modal" data-target="#signUpModal">
                        Signup
                </button>
        </div>
    </section>

       <!-- Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span id="loginCloseBtn" aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <div>
                        <label id="usernameLabel" for="login-username">Username</label>
                        <div><input id="login-username-input" name="Username" /></div>
                    </div>
                    <br>
                    <div>
                        <label id="passwordLabel" for="login-password">Password</label>
                        <div><input id="login-password-input" name="login-password" /></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="loginModalBtn" class="btn btn-primary">Login</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Sign-up Modal -->
    <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span id="signupCloseBtn" aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <div>
                        <label id="signupUsernameLabel" for="signup-username">Username</label>
                        <div><input id="signup-username-input" name="username" placeholder="Required" /></div>
                    </div>
                    <br>
                    <div>
                        <label id="signupEmailLabel" for="signup-email">Email</label>
                        <div><input id="signup-email-input" name="email" placeholder="Required" /></div>
                    </div>
                    <br>
                    <div>
                        <label id="signupPasswordLabel" for="signup-password">Password (minimum of 4 characters)</label>
                        <div><input id="signup-password-input" name="signup-password" placeholder="Required" /></div>
                    </div>
                    <br>
                    <div>
                        <label id="signupLinkedinLabel" for="signup-linkedin">linkedIn</label>
                        <div><input id="signup-linkedin-field" name="signup-linkedin" placeholder="Required"/></div>
                    </div>
                    <br>
                    <div>
                        <label id="signupGithubLabel" for="signup-github">Github</label>
                        <div><input id="signup-github-input" name="signup-github" placeholder="Optional"/></div>
                    </div>
                    <br>
                     <div>
                        <label id="signupTwitterLabel" for="signup-twitter">Twitter</label>
                        <div><input id="signup-twitter-input" name="signup-twitter" placeholder="Optional"/></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="signupModalBtn" class="btn btn-primary">Signup</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/javascript/login.js"></script>
    <script src="/javascript/signup.js"></script>
