body {
    margin: 0;
    padding: 0;
}


/* CSS styling of the hero content - background image, title, sign-up and login buttons */

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/homepageBg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(90%);
}

.hero-content {
    position: relative;
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
}

.hero-title-smoll {
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 0;
}

.hero-title-talk {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 0;
}

.hero-button {
    background-color: #FC7B6E;
    color: white;
    border: 1px solid #FC7B6E;
    margin-top: 5rem;
    font-family: "Monserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
}

.hero-button:hover {
    background-color: #FF6455;
    border: 1px solid #FF6455;
}


/* End of styling the css content */